{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='game.css')}}">
{%endblock%}

{% block body %}
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<div id="board">
    {% for square in game.board %}
    {% set }
    {% set row = loop.index // game.board.size %}
    {% set column = loop.index % game.board.size %}
    <div class="square" data-player="" data-row="{{ row }}" data-column="{{column}}"> {{ square.goal }} </div>
    {% endfor %}
</div>

<script>
    const socket = io();
    const OTHER  = "other";
    const SELF = "self";
    const game_id = (()=>{
        let path = location.pathname.split('/');
        return parseInt(path[path.length -1])
    })();
    socket.emit('join',{game_id: game_id})
    const squares = [[]]

    function toggle_mark(square){
        if (square.dataset.player == OTHER){
            return;
        }

        if (!square.dataset.player) {
            square.dataset.player = SELF;
            socket.emit("mark_square", {
                game_id:game_id,
                row:parseInt(square.dataset.row), 
                column:parseInt(square.dataset.column)})
        }

        else {
            square.dataset.player = "",
            socket.emit("unmark_square", {
                game_id:game_id, 
                row:parseInt(square.dataset.row), 
                column:pareInt(square.dataset.column)
            })
        }
    }

    socket.on('mark_square', ({row,column})=> {
        let row = parseInt(row);
        let col = parseInt(column);
        squares[row][col].dataset.player = OTHER          
    });
    socket.on('unmark_square', ({row,column})=> {
        let row = parseInt(row);
        let col = parseInt(column);
        squares[row][col].dataset.player = ""
    })

    let squares_lst = $(".square");
    for (square of squares_lst) {
        squares_lst.addEventListener("click", ()=>toggle_mark(square));
        let square_row = squares[squares.length - 1];
        square_row.push(square);
        if (square_row.length == {{ game.board.length }} ){
            squares.push([])
        }
    }

</script>

{%endblock%}